<!-- DOM element styling -->
<link rel="stylesheet" href="/src/app/app.component.css" />

<!-- HTML DOM structure -->

<!-- app container -->
<div>
  <!-- header section -->
  <h1 class="header">{{ title }}</h1>

  <!-- body section -->

  <!-- navigation -->
  <div class="nav-buttons">
    <div>
      <button
        class="btn btn-outline-dark"
        [routerLink]="['/post-quotes']"
        routerLinkActive="router-link-active"
      >
        Post Quote
      </button>
    </div>
    <div>
      <button
        class="btn btn-outline-dark"
        [routerLink]="['/dashboard']"
        routerLinkActive="router-link-active"
      >
        Dashboard
      </button>
    </div>
  </div>

  <!-- content -->
  <div class="app-content container-fluid">
    <router-outlet></router-outlet>
  </div>
  <!-- end of webpage -->
</div>
