.header {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: whitesmoke;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.app-content {
  margin-top: 1rem;
}

.custom-bg {
  background-color: rgba(84, 168, 189, 0.788);
}
